<server>
    <featureManager> 
        <feature>beanValidation-1.1</feature> 
        <feature>cdi-1.2</feature> 
        <feature>ejbLite-3.2</feature> 
        <feature>el-3.0</feature> 
        <feature>jaxrs-2.0</feature> 
        <feature>jdbc-4.1</feature> 
        <feature>jndi-1.0</feature> 
        <feature>jpa-2.1</feature> 
        <feature>jsf-2.2</feature> 
        <feature>jsonp-1.0</feature> 
        <feature>jsp-2.3</feature> 
        <feature>managedBeans-1.0</feature> 
        <feature>servlet-3.1</feature> 
        <feature>websocket-1.1</feature> 
        <feature>icap:managementConnector-1.0</feature> 
        <feature>appstate-1.0</feature> 
    </featureManager> 
    <application name='SSO-APP2' location='SSO-APP2.war' type='war' context-root='/'/> 
    <httpEndpoint id='defaultHttpEndpoint' host='*' httpPort='${port}'/> 
    <webContainer trustHostHeaderPort='true' extractHostHeaderPort='true'/> 
    <include location='runtime-vars.xml'/> 
    <logging logDirectory='${application.log.dir}' consoleLogLevel='INFO'/> 
    <httpDispatcher enableWelcomePage='false'/> 
    <applicationMonitor dropinsEnabled='false' updateTrigger='mbean'/> 
    <config updateTrigger='mbean'/> 
    <cdi12 enableImplicitBeanArchives='false'/>
    <appstate appName='SSO-APP1' markerPath='${home}/../.liberty.state'/> 
	
	<application type="war" id="SSO-APP2" name="SSO-APP2" 
           location="${server.config.dir}/<path_to_.WAR_file from server directory>">
        <application-bnd>
            <security-role name="any-authenticated">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
    </application>
	
</server>